.kowal-hint {
    background: #f8f8f8;
    border: 1px solid #33b2ff;
    margin-bottom: 10px;
    padding: 11px 0 10px 10px;
    color: #4e4e4e;
    font: 600 12px 'Open Sans', sans-serif;
    .content {
        padding-left: 30px;
    }
    a {
        color: #009af8;
    }
    .module-name {
        color: #0079c3;
    }
}
