<?php /** @var Kowal\CatalogHoverImage\Block\Adminhtml\System\Config\Fieldset\Hint $block */ ?>

<div class="kowal-hint">

    <div class="content">
        <p>
            <a target="_blank" href="https://kowal.store/"> <img src="<?php echo $this->getViewFileUrl('Kowal_CatalogHoverImage::images/logo.png'); ?>"/></a><br><br>
        </p>
        <p>
            <strong class="module-name">
                <?= $block->getModuleName() ?> <?= $block->getVersion() ?>
            </strong>
            <?= __(' by') ?>
            <a target="_blank" href="https://kowal.store/">
                <strong>kowal.store</strong>
            </a>
        </p>
        <p>
            <?= __('Your feedback for ') ?>
            <a href="<?= $block->getModulePage() ?>" target="_blank"><?= $block->getModuleName() ?></a>
            <?= __('is highly appreciated.') ?>
        </p>
        <p>
            <?= __('Found an issue? Need help? Got custom request? Please ') ?>
            <a href="https://kowal.store/contact/" target="_blank"><?= __('Contact us') ?></a>.
        </p>
        <p>
            <?= __('You can check more extensions designed by our team in our ') ?>
            <a href="<?= $block->getExtensionsPage() ?>" target="_blank"><?= __('Store') ?></a>.
        </p>
    </div>
</div>
